$primary: #EFC81A;
$lightgray: #B6B6B6;
$gray: #AAAAAA;
$darkgray: #666666;
$lightblue: #6E80B0;

$custom-colors: (
  "lightgray": $lightgray,
  "gray": $gray,
  "darkgray": $darkgray,
  "lightblue": $lightblue
);
  
$theme-colors: (
  "primary": $primary,
);
  
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";