$body-bg: #EEF0F3;
$primary: #EFC81A;
$verylightgray: #E7E7E7;
$lightgray: #B6B6B6;
$gray: #AAAAAA;
$darkgray: #666666;
$lightblue: #6E80B0;
$verylightblue: #6d61f2;

$custom-colors: (
  "verylightgray": $verylightgray,
  "lightgray": $lightgray,
  "gray": $gray,
  "darkgray": $darkgray,
  "lightblue": $lightblue,
  "verylightblue": $verylightblue
);
  
$theme-colors: (
  "primary": $primary,
);
  
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./custom-tabs";
@import "./custom-container";